@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mogra&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.productsPage{
    margin: auto;
    background-color: rgb(237, 237, 237);
}
.pagecontent{

  
    margin: auto;
    width: 150vh;
    background-color: rgb(237, 237, 237);
    
}
.pagecontent h1{
    font-family: "PT Serif", serif;
text-align: center;
  padding-top: 17vh;
font-size: 3rem;
}
.teddybares{
    margin-top: 5vh;
    margin-left: 5vh;
   
}
.flowervass{
    margin-top: 7vh;
    margin-left: 5vh;
}
.watches{
    margin-top: 7vh;
    margin-left: 5vh;
}
.Slippers{
    margin-top: 7vh;
    margin-left: 5vh;
}
.teddybares h3{
    font-size: 1.5rem;
    font-weight: bold;
}
.teddybares-carts{
    margin-top: 3vh;
    
    display: flex;
    width: 140vh;
    height: 50vh;
}
.Brownteddy-cart {
    background-color: aliceblue;
    margin-right:3vh ;
    width: 32.75vh;
    border-radius: 1.5rem;
}
.Pinkteddy-cart{
    background-color: aliceblue;
    margin-right:3vh ;
    width: 32.75vh;
    border-radius: 1.5rem;
}
.blueteddy-cart{
    background-color: aliceblue;
    margin-right:3vh ;
    width: 32.75vh;
    border-radius: 1.5rem;
}
.blackteddy-cart{
    background-color: aliceblue;
    border-radius: 1.5rem;
    width: 32.75vh;
}

/* Flower Vass */


.flowervass h3{
    font-size: 1.5rem;
    font-weight: bold;
}
.flowervass-carts{
    margin-top: 3vh;
    
    display: flex;
    width: 140vh;
    height: 50vh;
}
.flowervass1-cart {
    background-color: aliceblue;
    margin-right:3vh ;
    width: 32.75vh;
    border-radius: 1.5rem;
}
.flowervass2-cart{
    background-color: aliceblue;
    margin-right:3vh ;
    width: 32.75vh;
    border-radius: 1.5rem;
}
.flowervass3-cart{
    background-color: aliceblue;
    margin-right:3vh ;
    width: 32.75vh;
    border-radius: 1.5rem;
}
.flowervass4-cart{
    background-color: aliceblue;
    border-radius: 1.5rem;
    width: 32.75vh;
}

/* watches */

.watches h3{
    font-size: 1.5rem;
    font-weight: bold;
}
.watches-carts{
    margin-top: 3vh;
    
    display: flex;
    width: 140vh;
    height: 50vh;
}
.watches1-cart {
    background-color: aliceblue;
    margin-right:3vh ;
    width: 32.75vh;
    border-radius: 1.5rem;
}
.watches2-cart{
    background-color: aliceblue;
    margin-right:3vh ;
    width: 32.75vh;
    border-radius: 1.5rem;
}
.watches3-cart{
    background-color: aliceblue;
    margin-right:3vh ;
    width: 32.75vh;
    border-radius: 1.5rem;
}
.watches4-cart{
    background-color: aliceblue;
    border-radius: 1.5rem;
    width: 32.75vh;
}

/* slippers */

.Slippers h3{
    font-size: 1.5rem;
    font-weight: bold;
}
.Slippers-carts{
    margin-top: 3vh;
    
    display: flex;
    width: 140vh;
    height: 50vh;
}
.Slippers1-cart {
    background-color: aliceblue;
    margin-right:3vh ;
    width: 32.75vh;
    border-radius: 1.5rem;
}
.Slippers2-cart{
    background-color: aliceblue;
    margin-right:3vh ;
    width: 32.75vh;
    border-radius: 1.5rem;
}
.Slippers3-cart{
    background-color: aliceblue;
    margin-right:3vh ;
    width: 32.75vh;
    border-radius: 1.5rem;
}
.Slippers4-cart{
    background-color: aliceblue;
    border-radius: 1.5rem;
    width: 32.75vh;
}