@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mogra&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.productsPage{
    margin: auto;
    background-color: rgb(237, 237, 237);
}
.pagecontent{

  
    margin: auto;
    width: 150vh;
    background-color: rgb(237, 237, 237);
    
}
.pagecontent h1{
    font-family: "PT Serif", serif;
    text-align: center;
    padding-top: 17vh;
    font-size: 3rem;
}
.teddybares{
    margin-top: 5vh;
    margin-left: 5vh;
   
}
.flowerWass{
    margin-top: 7vh;
    margin-left: 5vh;
}

.Slippers{
    margin-top: 7vh;
    margin-left: 5vh;
}


.teddybares-carts,.flowervass-carts,.Slippers-carts{
    margin-top: 3vh;
    width: 140vh;
    height: 50vh;
    display: flex;
    flex-direction: row;
}

.teddy,.flowers,.slipper{
    background-color: aliceblue;
    margin-right:3vh ;
    width: 32.75vh;
    border-radius: 1.5rem;
    padding: 5vh;
}

.tedy-buy,.flower-buy,.slipper-buy{
    display: flex;
    flex-direction: row;
    font-weight: bold;  
}

.teddybares-carts button,.flowervass-carts button,.Slippers-carts button{
  color: white;
  background-color: black;
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
  margin-left: 15vh; 
  border: none;
  
}

.Slippers-carts button:hover{
    background-color: red;
    
}
.teddybares-carts button:hover{
    background-color: red;
}
.flowervass-carts button:hover{
    background-color: red;
}

.tedy-text,.flower-text,.slipper-text{
    margin: 3vh 0;
}


