* {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  margin: 0 auto;
}

.page {
  margin: auto;
  width: 100%;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://i.etsystatic.com/14319357/r/il/1a0f9e/5527243028/il_570xN.5527243028_csg6.jpg);
  background-repeat: no-repeat;

  background-size: cover;
  padding: 20vh 0vh 10vh;
  max-width: 900px;
}

.box {
  width: 100%;
  height: 70vh;
  background-color: rgba(189, 189, 189, 0.3); /* Use rgba for transparency */
  margin: auto;
  border-radius: 1rem;
  border: 2px solid black;
  padding: 5vh 0vh 5vh 0vh;
  border: none;
  max-width: 550px;
}

.center-box {
  background-color: rgba(189, 189, 189, 0.089);
  max-width: 400px;
  width: 100%;
  height: 52vh;
  margin: auto;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 1rem;
}

.center-box h1 {
  margin-top: 1.3rem;
  text-align: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-bottom: 2rem;
}
.center-box form {
  margin-top: 1rem;
}
.center-box form label {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  margin-left: 4rem;
  margin-top: 2rem;
}
.center-box form input {
 
  border: 1.5px solid white;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 4rem;
  width: 18rem;
  height: 1.7rem;
}

.center-box form input:focus {
    background-color: rgba(255, 255, 255, 0.185);
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.185);
  }

.email {
  margin-bottom: 1.6rem;
}
.center-box button {
  margin-top: 0.5rem;
  width: 18rem;
  height: 1.8rem;
  border-radius: 1rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.473);
  color: white;
  margin-left: 4rem;
}
.center-box h3 a {
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  display: flex;
  justify-content: flex-end;
  margin-right: 7vh;
  text-decoration: underline;
  margin-bottom: 3vh;
  margin-top: 0.5vh;
}

.newtotag {
  margin-top: 2rem;
}
.newtotag h1 {
  color: white;
  font-size: 1rem;
  font-weight: 10;
  display: flex;
  justify-content: center;
}

.newtotag a{
   color: #00bcd4;
    margin-left: 1vh;
    
}

.newtotag a:hover{
    text-decoration:underline
}
