.SingleProduct-wrapper{
    z-index: 2;
}

  
  .SingleProduct-contain {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20vh;
    
  }
  .SingleProduct-details h1{
  text-transform: uppercase;
  }
  
  .image-details {
    padding: 4vh;
    border-radius: 1rem;

    display: flex;
    width: 60%;
    justify-content:space-between;
    box-shadow: 0 0.4vh 1vh rgba(0, 0, 0, 0.2); ;
   
  }
  
  .SingleProduct-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left:10vh;
    
  }
 
  .SingleProduct-image img {

    width: 100%;
    border-radius: 1vh;
    height: 40vh;
    box-shadow: 0 0.4vh 1vh rgba(0, 0, 0, 0.2);
  }
  

  
  .SingleProduct-details {
    width: 40%;
    display: flex;
    flex-direction: column;
  }
  
  .SingleProduct-details h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1vh;
    margin-top: 3vh;
    color: #800000;
  }
  
  .SingleProduct-details h2 {
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 1vh;
  }
  
  .buynow{
    background: #007bff;
    color: white;
    padding: 1vh 2vh;
    border: none;
    border-radius: 0.5vh;
    font-size: 1.2rem;
    margin: 1vh 50vh 1vh 0;
    cursor: pointer;
    width: 15vh;
  }
  
  .SingleProduct-details button:hover {
    background: #0056b3;
  }

  .label{
  
    font-weight: bold;
  }

  .quantity{
    margin-top: 1vh;
    width: 20vh;
   
    
  }
  
  .free {
    color: red;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .delevery {
    font-size: 1rem;
    color: #444;
    margin-left: 2vh;
  }
  
  .SingleProduct-description {
    max-width: 80rem;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #555;
    margin-top: 2vh;
    padding: 1vh;
    border-top: 0.1vh solid #ddd;
    font-weight: bold;
  }
  