a {
    text-decoration: none;
  }
  * {
  margin: 0;
    padding: 0;
  }

.wrapper{
  padding-top: 20vh;
    background-color: aqua;
    width: 100%;
    display: flex;
    justify-content: center;
  height: 80vh;
   
}
.mainbox{
  margin: auto;
    width: 100vh;
   background-color: black;
    height: 40vh;
    display: flex;
   
    
}
.box1{
    display: flex;
    width: 30vh;
    height: 40vh;
    background-color: rgb(0, 0, 0);
    margin-right: 5vh;
    border-radius: 1rem;
}
.box2{
    width: 30vh;
    height: 40vh;
    background-color: rgb(0, 0, 0);
    margin-right: 5vh;
    border-radius: 1rem;
}
.box3{
    width: 30vh;
    height: 40vh;
    background-color: rgb(0, 0, 0);
    border-radius: 1rem;
}
