a {
    text-decoration: none;
  }
  * {
    margin: 0;
    padding: 0;
  }
  .clearfix {
    overflow: auto;
  }

  .Navbar-container {
    background-color: rgb(255, 255, 255);
    display: flex;
    margin: auto;
  
    justify-content: space-between;
    border-radius: 1rem;
    width: 100%;
    box-shadow: 2px 2px 10px #5c5c5c;
    position: fixed;
  }
  .links ul {
    list-style: none;
    display: flex;
  }
  .links ul li {
    padding: 0rem .5rem 0rem .5rem;
    margin: 1.8rem;
  }
  .links ul li a {
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
  }
  .links ul li a:hover{
    border-bottom: 1px solid;
    color: rgb(11, 203, 139);
  }
  .logo {
    margin: 0.3rem;
    display: flex;
  }
  
  .log-text {
    margin: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
  }
  .logo img {
    width: 6vh;
    height: 6vh;
    margin-right: 0.2rem;
    margin-left: 1rem;
  }
  .buttons {
    margin: 1.2rem;
    display: flex;
  }
  
  .Login-button button {
    width: 10vh;
    height: 4vh;
    border-radius: 0.5rem;
    border: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  .Login-button button:hover{
    background-color: rgb(19, 140, 100);
    cursor: pointer;
  }
  .Register-button {
    padding: 0rem 1rem 0rem 1rem;
  }
  .Register-button button {
    background-color:rgb(126, 241, 165);
    width: 10vh;
    height: 4vh;
    border-radius: 0.5rem;
    border: none;
  font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
  
  }
  .Register-button button:hover{
    background-color: rgb(222, 31, 31);
    cursor: pointer;
   
  }
  @media (max-width:170vh) {

    .Navbar-container{
      width: 170vh;
    }
    
  }



  