@import url("https://fonts.googleapis.com/css2?family=Mogra&display=swap");

*{
    
}

.Footer{
    padding-top: 5vh;
    padding-bottom: 3vh;
    margin-top: 10vh;
    background-color: black;
    width: 100%;
    display:flex ;
   
}
.logofooter{
   margin: auto;
    width: 20%;
   
    padding-top: 12vh;
    
    

}
.logofooter h1{
    font-family: "Mogra", serif;
    font-size: 3rem;
    margin-left: 5vh;
    color: white;

}
.supportline{
 
    width: 20%;
    
    margin-right: 5%;
    
}
.supportline h1{
    color: rgb(145, 145, 145);
    font-size: 1.5rem;
    margin-left:10vh ;
    margin-top: 3vh;
}
.supportline ul{
    margin-top: 5vh;
   
}
.supportline ul li{
    margin-left: 10vh;
    text-align: left;
    margin-bottom: 3.5vh;
    list-style: none;
    color: white;

    
}
.followusline{
    width: 20%;
   
    margin-right: 5%;
}
.followusline h1{
    font-size: 1.5rem;
    color: rgb(145, 145, 145);
    margin-left:10vh ;
    margin-top: 3vh;
}
.followusline ul{
    margin-top: 5vh;
}
.followusline ul li{
    color: white;
    margin-left: 10vh;
    text-align: left;
    margin-bottom: 3.5vh;
    list-style: none;
}

.contact{
    width: 20%;
    margin-right: 5%;


}
.contact h1{
    
    color: rgb(145, 145, 145);
    font-size: 1.5rem;
    margin-top: 3vh;
}
.contact h3{
    color: white;
    margin-top: 5vh;
}
